* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4faff;
    color: #222;
}

/* HEADER */
header {
    background: #005fba;
    color: white;
    text-align: center;
    padding: 40px 10px;
}

header .perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    border: 3px solid #fff;
}

/* SEÇÕES */
section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #005fba;
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

ul li {
    background: #e3f0ff;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

/* LINKS */
a {
    text-decoration: none;
    font-weight: bold;
    color: #005fba;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #005fba;
    color: white;
    margin-top: 20px;
}