.pai{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
}
.filho{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(117, 117, 251);
    margin: 5px;
    align-items: center;

    
}
#h1{
    display: flex;
   justify-content: center;
}
.pai2{
    display: flex;
    justify-content: baseline;
    align-items: end;
    flex-direction: row;
}
.filho2{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(117, 117, 251);
    margin: 5px;
    align-items: center;
}