
.pai{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
}
.filho{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(182, 182, 255);
    margin: 5px;
    align-items: center;

    
}
#h1{
    display: flex;
   justify-content: center;
}
.pai2{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}
.filho2{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(148, 148, 255);
    margin: 5px;
    align-items: center;
}
.pai3{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.filho3{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(122, 122, 255);
    margin: 5px;
    align-items: center;
}
.pai4{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
}
.filho4{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(110, 110, 251);
    margin: 5px;
    align-items: center;
}
.pai5{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.filho5{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(94, 94, 253);
    margin: 5px;
    align-items: center;
}
.pai6{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
.filho6{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(78, 78, 252);
    margin: 5px;
    align-items: center;
}
.pai7{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}
.filho7{

    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(75, 75, 255);
    margin: 5px;
    align-items: center;
}
.pai8{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
}
.filho8{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(75, 75, 255);
    margin: 5px;
    align-items: center;
}
.pai9{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: baseline;
    align-items: end;
    flex-direction: row;
}
.filho9{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(64, 64, 255);
    margin: 5px;
    align-items: center;
}
.pai10{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: baseline;
    align-items: end;
    flex-direction: row;
}
.filho10{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(64, 64, 255);
    margin: 5px;
    align-items: center;
}
.pai11{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.filho11{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 255);
    margin: 5px;
    align-items: center;
}
.pai12{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.filho12{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 255);
    margin: 5px;
    align-items: center;
}
