body{
    background-color: azure;
    color: rgb(0, 0, 57);
}
article{
    background-color:rgb(102, 153, 198);
    border-radius: 20px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
