body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff; /* azul claro */
    color: #003366; /* azul escuro para texto */
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #001f4d;
}

.educativo {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}

p {
    background-color: #cce0ff; /* azul suave para destaque do parágrafo */
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

mark {
    background-color: #3399ff; /* azul mais forte para destacar termos */
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
}
img{
    margin:  0px 500px  0px 500px;
}