.pai {
    display: flex; 
    flex-wrap: wrap; 
    width: 600px;
    border: 3px solid #3498db;
    padding: 10px;
    margin: 20px auto;
}


.filho {
    width: 200px; 
    height: 50px;
    margin: 10px;
    background-color: #4016ff;
    color: #000000;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
}