.pai{
    background-color: rgb(181, 220, 255);
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}
.filho{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: rgb(78, 78, 252);
    margin: 5px;
    align-items: center;
}